// component css goes here
.list{
    padding: 20px;
}
label{
    float: left;
    min-width: 160px;
}
.form-control{
float: left;
width:30%;
}
.buttonSection{
margin-top: 30px;
    margin-left: 200px;
}
a{
    color:black;
}