/* Helper mixins and styles */


.clearfix {
    clear: both;
    &:after {
        clear: both;
        display: block;
        content: "";
    }
}
///@group clear fix
@mixin clearfix() {
    &:after {
        clear: both;
        display: block;
        content: "";
    }
}