<!--component html goes here -->
<a routerLink="" class="home-icon"><i class="fas fa-home"></i></a><br><br>
<div class="section-box">
<ag-grid-angular 
    style="height:700px;" 
    class="ag-theme-balham ag-grid"
    [gridOptions]="gridOptions"
    [enableSorting]="true"
    [enableFilter]="true"
    [rowData]="lists" 
    [columnDefs]="columnDefs"
    paginationPageSize="5"
    pagination="true"
    [showToolPanel]="showToolPanel"
    [defaultColDef]="defaultColDef"
    (beforeFilterChanged)="onBeforeFilterChanged()"
                     (afterFilterChanged)="onAfterFilterChanged()"
                     (filterModified)="onFilterModified()"
    
    >
</ag-grid-angular>
</div>